<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <title>Chỉnh sửa Brand <%= thuonghieu.tenTH %></title>
</head>

<body>
  <div class="container text-left" style="width: 70%; margin-bottom: 3rem;">
    <br>
    <h4>
      Chỉnh sửa chi tiết Brand <%= thuonghieu.tenTH %>
    </h4>
    <br>
    <form method="POST" action="">
      <div class="form-group">
        <label for="formGroupExampleInput2">Tên Thương Hiệu</label>
        <input type="text" class="form-control" value="<%= thuonghieu.tenTH %>" name="tenTH">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput3">Logo</label>
        <input type="text" class="form-control" value="<%= thuonghieu.logo %>" name="logo">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput4">Mô tả</label>
        <input type="text" class="form-control" value="<%= thuonghieu.mota %>" name="mota">
      </div>
      <input type="submit" class="btn btn-danger" value="Submit">
    </form>
  </div>
</body>
<style>
</style>
</html>